.info-block {
  margin: 5px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.retry-btn {
  height: 25px;
  padding: 5px;
  width: 150px;
  font-weight: 500;
}

.alert {
  margin-bottom: 0;
}

.error-container {
  margin-top: 10px;
  font-size: 13px;
}

.form-control{
  height: 27px;
}

.submit-button {
  background-color: #0295c0;
  border-color: transparent;
  color: #fff;
  border-radius: 3px;
  height: 20px;
  margin-top: 10px;

  &:hover{
    background-color: darken(#0295c0, 10%);
  }
}

.external-link-icon {
  font-size: 8px;
  margin-bottom: 1px;
}

.content-block {
  margin-top: 5px;
  font-size: 13px;
  border: 1px solid #dedede;
  border-bottom: 2px solid #dedede;
  border-radius: 4px;

  &.no-header{
    padding: 5px;
  }

  .content-block-header {
    background-color: #f8f8f8;
    padding: 5px;

    &:hover {
      background-color: darken(#f8f8f8, 5%);
    }

    &.content-open {
      border-bottom: 1px solid #dedede;
    }

    &.content-closed {
      border-bottom: 0px;
    }
  }

  .content-text {
    padding: 5px;
  }
}

.scrollable-block {
  overflow-y: auto;
  max-height: 250px;
  width: 100%;

  &.padded {
    padding: 5px;
  }
}

.p-block {
  word-wrap: break-word;
  word-break: break-word;
}
